body {
    padding: 40px 10% 20px 10%;
}
h1 {
    padding: 20px 0;
    font-size: 2.5em;
    text-align: center;
}

.panel {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    margin-top: 10px;
}

.example-enter {
    height: 0px;
}

.example-enter.example-enter-active {
    height: 100px;
    -webkit-transition: height .3s ease;
}

.example-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
}
.left{
    float: left;
}
.one_third{
    width: 33% !Important;
}
.ten_percent{
    width: 9% !Important;
}
.twentyfive_percent{
    width: 25% !Important;
}
.hundred_percent{
    width: 99% !Important;
}
.button{
    width:49%;
    height:30px;
    float:left;
}
.center{
    margin-left:auto;
    margin-right:auto;
}